/* XL */
@media(max-width:1399px){
	.container{
		max-width:1140px;
	}
	.toggle{
		display:none;
	}
/* footer */
	.footer-inner .w4:nth-child(3) .footer-items p{
		margin-top:15px;
		margin-right:30px;
	}
}
/* LG */
@media(max-width:1199px){
	.container{
		max-width:960px;
	}
	.w-lg-4{
		width:25%;
	}
	.w-lg-3{
		width:33.33%;
	}
	.w-lg-1{
		width:100%;
	}
/* TESTIMONIALS */
	.testimonials-image .commas{
		position:absolute;
		top:0;
		left:35%;
	}
	.testimonials-image .commas-1{
		position:absolute;
		top:0;
		right:35%;
		transform:rotate(180deg);
	}
/* footer */
	.footer-inner .w4:first-child .footer-items p{
		margin-top:15px;
		margin-right:30px;
	}
}
/* MD */
@media(max-width:991px){
	.container{
		max-width:720px;
	}
	.w-md-1{
		width:100%;
	}
	.w-md-2{
		width:50%;
	}
	.w-md-3{
		width:33.33%;
	}
	.w-md-4{
		width:25%;
	}
	.text-md-center{
		text-align:center;
	}
	
/* HEADER */
	header nav ul{
		flex-direction:column;
	}
	header nav{
		position:absolute;
		top:0px;
		left:0;
		background-color:black;
		height:100%;
		width:200px;
		transform:translateX(-100%);
	}
	.navigation nav ul li a{
		display:flex;
		justify-content:space-between;
		color:white;
		padding:10px ;
	}
	.topbar{
		display:none;
	}
	.toggle{
		display:inline-block;
	}
	.navigation .btn li:nth-child(2){
		display:none;
	}
/* BANNER */
	.banner{
		background-position:-220px;
	}
/* FACILITY */
	.facility .w4:last-child .facility-items{
		border-left:1px solid #dce7eb;
		border-top:none;
	}
/* ABOUT */
	.about-image img{
		padding:0 0 50px 0;
		display:block;
	}
/* contact */
	.form-items{
		margin-top:50px;
	}
/* choose us */
	.choose-us-content{
		padding:0 0 20px 0;
	}
/* testimonials */
	.testimonials-image .commas{
		position:absolute;
		top:0;
		left:30%;
	}
	.testimonials-image .commas-1{
		position:absolute;
		top:0;
		right:30%;
		transform:rotate(180deg);
	}
/* recent news */
	.news-title .w3:last-child .news-title-items{
		text-align:center;
		margin-top:50px;
		display:flex;
	}
}
/* SM */
@media(max-width:767px){
	.container{
		max-width:540px;
	}
	.w-sm-2{
		width:50%;
	}
/* FACILITY */
	.facility .w4:nth-child(3) .facility-items{
		border-left:1px solid #dce7eb;
		border-top:none;
		border-right:none;
	}
/* customer */
	.logo-button img{
		width:280px;
	}
/* TESTIMONIALS */
	.testimonials-image .commas{
		display:none;
	}
	.testimonials-image .commas-1{
		display:none;
	}
}
/* XS */
@media(max-width:575px){
	.container{
		max-width:100%;
	}
	.w-xs-1{
		width:100%;
	}
	.w-xs-2{
		width:50%;
	}
/* BANNER */
	h1{
		font-size:50px;
	}
/* FACILITY */
	.facility .w4:nth-child(2) .facility-items{
		border-left:1px solid #dce7eb;
		border-top:none;
	}
	.facility .w4:nth-child(3) .facility-items{
		border-right:1px solid #dce7eb;
		border-top:none;
	}
/* members */
	.members-detail p{
		font-size:20px;
	}
	.members-detail span{
		font-size:18px;
	}
/* customer */
	.logo-button img{
		width:300px;
	}
/* recent news */
	.news-title .w3:nth-child(2) .news-title-items{
		/* text-align:center; */
		margin-top:50px;
	}
/* FOOTER */
	.footer-items{
		margin-bottom:30px;
	}
	.copyright p, .copyright ul{
		text-align:center;
		justify-content:center;
	}
}